
/* Estilo Tabla */
table {
    border-collapse: collapse;
    color: black;
    background-color: lightblue;
} 

/* Zeldas */
th, td { 
    padding: 20px; 
    border: 6px solid ; 
    border-color: purple;
}
            
/* Estilo Cabezera */
.cabezera { 
    text-decoration: underline;
    color: darkgreen;
    background-color: lightgreen;
}   

/* Datos */
td {
    text-align: center;
    }
            
            
      