/* Tabla */
.div-tablas {
    margin-top: 130px;
    
}
    .tablas {
        background-color: lightblue;
        border: 2px solid;
        border-color: gray;
        border-radius: 5px ;
        width: 90%;
        margin: 0 auto;
    } 
            
    /* Cabecera de la tabla*/
    .cabecera-tabla{
        color: black;
        background-color: lightskyblue;
        border: 1px ;
        border-color: black;
    }

    /* Zeldas */
    td {
        text-align: center;
        border-color: black;
    }
        
