
/* Estilo Tabla */
table {
    /* border-collapse: collapse; */
    color: black;
    background-color: lightblue;
} 

/* Zeldas */
th, td { 
    padding: 20px; 
    /* border: whitesmoke ;  */
    border-color: black;
}
            
/* Estilo Cabezera */
.cabezera { 
    border: 1px;
    border-color: yellow;
    color: darkgreen;
    background-color: lightgreen;
}   

/* Datos */
td {
    text-align: center;
    }
            
            
      