/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tabla */
.div-tablas {
    margin-top: 130px;
    margin-left: 50px;
    margin-right: 50px;
}
    .tablas {
        background-color: lightblue;
        border: 2px solid;
        border-color: gray;
        border-radius: 5px ;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    } 
            
    /* Cabecera de la tabla*/
    .cabecera-tabla{
        color: black;
        background-color: lightskyblue;
        border: 1px ;
        border-color: black;
    }

    /* Zeldas */
    td {
        text-align: center;
        border-color: black;
    }

    /* Selector de paginas */
    .paginacion {
        margin-left: 50px;   
        display: flex;  
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }



    .paginacion .pagina{
        background-color: rgb(190, 190, 0);
        color: aliceblue;
        border: none;
        padding: 2px 6px;
        border-radius: 3px;
        cursor: pointer;
    }

    